{% extends 'profilapp/base.html' %}
{% load static %}

        
{% block content %}


<div class="container px-lg-5">
  <div class="container pt-5 w-lg-75 bg-dark shadow rounded ">

    <form class="text-light fs-5 pb-1" method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}
    <h3 class="title is-3 text-center">Edit Profile</h3>
    <div class="container w-lg-85 form-modif">

      
      <div class=" field lead mx-4">
        <label class=" m-md-2 label is-medium">Choose your picture</label>
              <div class="file is-boxed">
                {{ form.picture }}
              </div>
          </div>

          <div class="field lead m-4">
              <label class="label is-medium">First name</label>
              <div class="control">
                {{ form.first_name }}
              </div>
          </div>

          <div class="field lead m-4">
              <label class="label is-medium">Last name</label>
              <div class="control">
                {{ form.last_name }}
              </div>
          </div>

          <div class="field lead m-4">
              <label class="label is-medium">Location</label>
              <div class="control">
                {{ form.location }}
              </div>
          </div>

          <div class="field lead m-4">
            <label class="label is-medium">url</label>
            <div class="control">
              {{ form.url }}
              </div>
          </div>

          <div class="field lead m-4">
              <label class="label is-medium">BIO</label>
              <div class="control">
                {{ form.profile_info }}
              </div>
          </div>

          <div class="row lead m-4">
            <div class="col s12">
              <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
            </div>
          </div>


          <div class="field lead m-4">
          <p class="control">
            <button type="submit" value="login" class="btn btn-outline-info">
              Update
            </button>

            
            </p>
          </div>

        </div>
        </form>

  </div>
</div>

{% endblock %}