{% extends "authapp/base.html" %}
{% load i18n %}

{% load static %}

        
{% block content %}


<div class="container p-5">
  <div class="container w-auto w-lg-75 bg-dark shadow shadow-lg rounded ">

    <h1 class=" pt-5 text-light fw-bold fs-3 text-center ">{% trans "Change password" %}</h1>
    
    <form method="post" action="" role="form" class="col s12 text-light lead pb-5">
      <div class="container  mt-5 text-center ">
        <div class="lead m-3">
          <span style="color: red; font-weight: bold;">{{ form.errors.old_password }}</span>
          <span style="color: red; font-weight: bold;">{{ form.errors.new_password }}</span>
          <span style="color: red; font-weight: bold;">{{ form.errors.confirm_password }}</span>
        </div>

        {% csrf_token %}
        {{ form.id }}
        <div class="lead m-3">
            <label for="old_password" class="px-4">Old password</label>
            {{ form.old_password }}
        </div>


        <div class="lead m-3">
            <label for="new_password" class="px-3">New password</label>
            {{ form.new_password }}
        </div>

        <div class="lead m-3">
            <label for="password" class="px-1">Re-type password</label>
            {{ form.confirm_password }}
        </div>
      <button class="btn btn-outline-info  text-light lead waves-effect waves-light" type="submit" name="action"><Change class="material-icons left">send</Change> Password</button>
    </div>
    </form>
  </div>
</div>

{% endblock %}