{% extends "authapp/base.html" %}
{% load i18n %}

{% block content %}

<div class=" text-center">
  <div class="col s12 center-align">
    <i class="large material-icons green-text">check_circle</i>
  </div>
  <div class="col s12 center-align">
    <h4>Your password has been succesfully changed</h4>
  </div>
</div>

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}

<br />
<br />
{% endblock %}
