{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  />

  <link
    rel="stylesheet"
    href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
  />

  <link
    rel="stylesheet"
    href="{% static 'bootstrap/dist/css/mdb.min.css' %}"
  />

  <link
    rel="stylesheet"
    href="{% static 'bootstrap/dist/css/style.min.css' %}"
  />

  <link rel="stylesheet" href="{% static 'mypost/css/base.css' %}" />


  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>


  <title>{% block title %} post {% endblock title %}</title>
</head>
